body {
  margin: 0 auto;
  width: 90%;
}


/*header  */
/* image of fork and knife*/

.delicious{
  display: inline-block;
  margin-top: 2em;
}

  /*Delicious*/
h2{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  font-style: italic;
}

h5{
  margin-left: 7px;
  font-family: monospace;
}


header ul {
  float: right;
  margin-top: 2em;
  margin-left: 10px;

}

header ul li {
  display: inline-block;

}
  




/*body  */

hr {
  width: 100%;
  height: 10px;
  color: grey;
}
h1{
  font-size: 30px;
  margin-top: 1em;
}
h6{
  color: grey; 
  font-family:monospace
}

#grocery {
  background: url('IMG/list-bg.png');


}

  .list1 {
    float: left;
    width: 300px;
margin-left: 130px;
    list-style: none;

    }
.list2{
  list-style: none;
}
    
/*footer  */


.footer {
    align-items: center;
}

.footer p { 
    color:grey;
    text-align: center;
    font-size: 14px;  
    margin: 20;  
    line-height: 1.5;
    
}
.footer hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid grey;
    /* border-bottom:1px solid grey; */
    margin:25px 0px;
    
}
#footerimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


  

